<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-card>
          <h2>Ideas por estado</h2>
          <div>
            <div>
              <div class="chart">
                <canvas  baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                  [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>  
          </div>
        </mat-card>
        <div>
          <br/>
          <button mat-button mat-raised-button class="btn btn-outline-primary" (click)="pieChartLegend=!pieChartLegend">
            Mostrar o Ocultar etiquetas
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <mat-card>
          <h2>artículos por estado</h2>
          <div>
            <div>
              <div class="chart">
                <canvas baseChart [data]="pieChartDataArt" [labels]="pieChartLabelsArt" [chartType]="pieChartType"
                  [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
