<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ">
            <span style="cursor: pointer;" routerLink="/editarArticulo/{{idArticulo}}">Articulo</span>
        </li>
        <li class="breadcrumb-item active">
            <span style="color: blue; text-decoration: underline; cursor: pointer;">Idea</span>
        </li>
    </ol>
</nav>
<br />

<app-ver-idea [idIdea]="idIdea"> </app-ver-idea>
<app-ver-formato-idea [idIdea]="idIdea" [tipoFormato]="'FORMATO_APROBADO_TUTOR'" [titulo]="'DOCUMENTO APROBADO Y FIRMADO POR EL TUTOR'"></app-ver-formato-idea>
<app-ver-formato-idea [idIdea]="idIdea" [tipoFormato]="'FORMATO_APROBADO_JURADO'" [titulo]="'DOCUMENTO APROBADO Y FIRMADO POR EL JURADO'"></app-ver-formato-idea>
