<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><span
                style="color: blue; text-decoration: underline; cursor: pointer;">Articulo</span></li>
    </ol>
</nav>
<br />

<div class="row">
    <div class="col-0 col-sm-0 col-md-2 col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-10 text-center"> 
        <button class="btn btn-outline-primary" routerLink="/verIdeaArticulo/{{articulo.ideaId}}/{{articulo.id}}">Ver Idea</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-warning" routerLink="/verControlLectura/{{articulo.id}}" >Bibliografía</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-success" routerLink="/verParrafos/{{articulo.id}}" >Administrar Parrafos</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-info" (click)="verFlujo()" >Ver Flujo</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-primary" routerLink="/verVistaPrevia/{{articulo.id}}" >Vista Previa</button>
    </div>
    <div class="col-0 col-sm-0 col-md-2 col-lg-1"></div>
</div>
<br/>
<form #f="ngForm" (ngSubmit)="actualizarArticulo( f )">
    <mat-form-field class="full-width">
        <input matInput placeholder="Estado (disabled)" disabled value="{{articulo.estado | uppercase}}">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Abstract in English" [(ngModel)]="articulo.resumen_ingles" name="resumenIngles"
            required></textarea>
        <mat-hint>Inicia el resumen de tú articulo(En ingles)</mat-hint>
        <mat-error
            *ngIf="f.submitted && f.controls['resumenIngles'].invalid && f.controls['resumenIngles'].errors['required']">
            Resumen obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Resumen en español" [(ngModel)]="articulo.resumen" name="resumenEspanol"
            required></textarea>
        <mat-hint>Inicia el resumen de tú articulo(En español)</mat-hint>
        <mat-error
            *ngIf="f.submitted && f.controls['resumenEspanol'].invalid && f.controls['resumenEspanol'].errors['required']">
            Resumen obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Título" [(ngModel)]="articulo.titulo" name="titulo" required></textarea>
        <mat-hint>Digita el título de tu artículo</mat-hint>
        <mat-error *ngIf="f.submitted && f.controls['titulo'].invalid && f.controls['titulo'].errors['required']">
            Contenido obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Introducción" [(ngModel)]="articulo.introduccion" name="introduccion" required></textarea>
        <mat-hint>Digita la introducción de tu artículo</mat-hint>
        <mat-error *ngIf="f.submitted && f.controls['introduccion'].invalid && f.controls['introduccion'].errors['required']">
            Introducción obligatoria
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Conclusión" [(ngModel)]="articulo.conclusion" name="conclusion" required></textarea>
        <mat-hint>Digita la introducción de tu artículo</mat-hint>
        <mat-error *ngIf="f.submitted && f.controls['conclusion'].invalid && f.controls['conclusion'].errors['required']">
            Conclusión obligatoria
        </mat-error>
    </mat-form-field>
    <div style="margin-top: 20px;">
        <button mat-raised-button color="primary" class="full-width">ACTUALIZAR</button><br/><br/>
        <button mat-raised-button color="warn" class="full-width" type="button" (click)="actualizarEstadoArticulo()">ENVIAR REVISIÓN PROFESOR</button>
    </div>
</form>
<br/>