<div class="container main-container">
  <div class="login-dark ">
    <form #f="ngForm" (ngSubmit)="ingresar( f )" class="border"> 
      <h2 class="sr-only">Ingreso</h2>
      <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
      <div class="form-group">          
          <span class="text-danger" *ngIf="f.submitted && f.controls['email'].invalid" >El correo es obligatorio</span>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input 
            class="inputs-form"
            type="email" 
            name="email"
            matInput placeholder="example@example.com"
            [(ngModel)]="usuario.email"
                required
                email>
          </mat-form-field>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['password'].invalid" >Password es obligatorio</span>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input 
          class="inputs-form"
          [type]="hide ? 'password' : 'text'" 
          matInput 
          name="password" 
          placeholder="Password" 
          [(ngModel)]="usuario.password" 
          required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-group">
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="recordarme" name="recordarme">Recordarme</mat-checkbox>
        </section>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Ingreso</button>
      </div>
      <a href="#" class="forgot" [routerLink]="['/reseteoPass']">¿Olvido su contraseña?</a>
      <a href="#" class="forgot" [routerLink]="['/registrarse']" >Registrarse.</a>
    </form>
  </div>
</div>