<h1>Usuarios</h1>
<table mat-table [dataSource]="dataSourceUsu" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre. </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo Electronico. </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoUsuario">
    <th mat-header-cell *matHeaderCellDef> Tipo Usuario. </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoUsuario}} </td>
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef> Accion. </th>
    <td mat-cell *matCellDef="let element"> 
        <button  mat-mini-fab color="warn" (click)="actualizarUsuario(element)" >Act.</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsUsu"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsUsu;"></tr>
</table>