<h2>Formatos por asignación de Jurado</h2>
<div *ngIf="listIdeas.length === 0"><legend>NO EXISTEN IDEAS POR ASIGNACIÓN DE JURADO</legend> </div>
<div class="container main-container">
    <div class="card-columns">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" *ngFor="let item of listIdeas ">
        <div class="card-header"><b>PROFESOR:</b> {{item.profesorAutoriza | uppercase}}</div>
        <div class="card-body">
          <h5 class="card-title"><b>{{item.titulo | uppercase}}</b></h5>
          <p class="card-text"><b>Contenido: </b>{{item.contenido}}</p>
        </div>
        <footer class="blockquote-footer">
            <a class="btn btn-outline-danger btn-block" style="color: white" *ngIf="item.estado == 'ESPERA_JURADO' " (click)="asignarJurado(item.id)" >ASIGNAR JURADO</a>
            <a class="btn btn-outline-primary btn-block" style="color: white" (click)="verFlujo(item.id)">VER FLUJO</a>
          <small class="text-muted">
            Estado  
            <cite title="Source Title" *ngIf="item.estado == 'ESPERA_JURADO' " >A ESPERA DE ASIGNACIÓN JURADO</cite>          
          </small>
        </footer>
      </div>
    </div>
  </div>