<div class="container container-main">
  <div class="row">
    <div class="col-0 col-sm-3">
    </div>
    <div class="col-12 col-sm-6">
      <div class="viewer-container">
        <div class="viewer-title">
          {{ 'Actualización de usuario:  ' | uppercase}}&nbsp; <b>{{usuario.nombre | uppercase}}</b> 
          &nbsp;&nbsp;<a [routerLink]="['/admAuUsuario']" >Consulta</a>
        </div>
        <div class="viewer-body">
          <form #f="ngForm" (ngSubmit)="actualizarTipo( f )">
            <mat-form-field class="full-width">
              <input matInput placeholder="CORREO: " disabled value="{{usuario.correo | uppercase}}">
            </mat-form-field>
            <mat-label *ngIf="nonSubmited()" class="mat-error full-width">Tipo de usuario es requerido</mat-label>
            <mat-form-field class="full-width">
              <mat-label>TIPO USUARIO:</mat-label>
              <mat-select required [(value)]="usuario.tipoUsuario">
                <mat-option *ngFor="let item of selTipoUsuario" [value]="item.value">
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button type="submit" class="btn btn-outline-primary btn-block" >Asignar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-3">
    </div>
  </div>
</div>