<div class="container container-main">    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <app-ver-idea [idIdea]="idIdea"></app-ver-idea>    
        </div>
    </div>
</div>
<div class="container container-main">    
    <app-ver-formato-idea [idIdea]="idIdea" (varDocumento)="marcarLeido( $event )" [tipoFormato]="'PROCESO_AUT_TUTOR'"  [titulo]="'VERSIONES DEL FORMATO REALIZADAS POR EL ALUMNO'" ></app-ver-formato-idea>
    <app-comentarios [idIdea]="idIdea" [estadoComentarios]="'RECHAZO_FORMATO_IDEA'" [titulo]="'COMENTARIOS DE RECHAZO FORMATO'"></app-comentarios>
    <br/>
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1 col-lg-1">
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10">
            <button color="primary" class="btn btn-warning" (click)="rechazarDocumento(idea.id)">Rechazar</button> &nbsp; &nbsp;&nbsp;
            <button color="primary" class="btn btn-primary" (click)="aprobarDocumento(idea.id)">Aprobar</button> &nbsp; &nbsp;&nbsp;
            <button color="danger" class="btn btn-danger" routerLink="/listaIdeasProf" routerLinkActive="active">Cancelar</button>
        </div>
        <div class="col-0 col-sm-0 col-md-1 col-lg-1">
        </div>
    </div>
</div>
<br/><br/>
