<div class="viewer-title">
    <legend>{{titulo}} <i class="material-icons">book_online</i></legend>
</div>
<div class="viewer-body" *ngIf="listaParrafos">    
    <div cdkDropList class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  border" (cdkDropListDropped)="drop($event)">
        <div class="example-box border " *ngFor="let parrafo of listaParrafos" cdkDrag
                [class.border-primary]="parrafo.estado == 'POR_REVISAR_PROFESOR'"
                [class.border-warning]="parrafo.estado == 'CORREGIDO_PARA_REVISION'"
                [class.border-danger]="parrafo.estado == 'RECHAZADO'"
                [class.border-success]="parrafo.estado == 'APROBADO'"
        >
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 text-align">
                {{parrafo.contenido}}
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <i class="material-icons" (click)="editarParrafo(parrafo)" matTooltip="Editar parrafo">edit</i>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <i class="material-icons" (click)="eliminarItem(parrafo)" matTooltip="Eliminar parrafo">cancel_outlined</i>
            </div>
        </div>
    </div>
</div>