<div class="container main-container">
  <div class="login-dark">
    <form #f="ngForm" (ngSubmit)="registrarse(f)" class="border" style="top: 55%;padding: 30px;">
      <h2 class="sr-only">Ingreso</h2>
      <div class="illustration">
        <i class="material-icons" style="font-size: 80px"> fingerprint </i>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['cedula'].invalid">Documento es obligatorio</span>
        <mat-form-field class="full-width">
          <mat-label>Documento</mat-label>
          <input matInput placeholder="321689" type="text" name="cedula" placeholder="Documento"
            [(ngModel)]="usuario.persona.documento" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['nombre'].invalid">Nombres son obligatorios</span>
        <mat-form-field class="full-width">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="usuario.nombre" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['apellidos'].invalid">Apellidos son
          obligatorios</span>
        <mat-form-field class="full-width">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" type="text" name="apellidos" [(ngModel)]="usuario.persona.apellidos"
            required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['picker'].invalid">Fecha de Nacimiento es
          obligatorio</span>
        <mat-form-field class="full-width">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput placeholder="10/10/10" type="text" placeholder="Fecha de Nacimiento" [matDatepicker]="picker"
            name="picker" [(ngModel)]="usuario.persona.fechaNacimiento">
        </mat-form-field>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['email'].invalid">El correo es obligatorio</span>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com" type="email" name="email" placeholder="Email"
            [(ngModel)]="usuario.email" required email>
        </mat-form-field>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="f.submitted && f.controls['password'].invalid">Password es obligatorio</span>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="********" type="password" name="password" placeholder="Password"
            [(ngModel)]="usuario.password" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="
            f.submitted &&
            f.controls['passwordConfirm'].value !== f.controls['password'].value
          ">Las contraseñas no coinciden</span>
        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="********" type="password" name="passwordConfirm" placeholder="Confirmar Password"
            [(ngModel)]="confirmPass" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="recordarme" name="recordarme">Recordarme</mat-checkbox>
        </section>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>