<form #f="ngForm" (ngSubmit)="crearArticulo( f )">
  <mat-form-field class="full-width">
    <input matInput placeholder="Estado (disabled)" disabled value="{{articulo.estado | uppercase}}">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Abstract in English" [(ngModel)]="articulo.resumenIngles" name="resumenIngles"
      required></textarea>
    <mat-hint>Inicia el resumen de tú articulo(En ingles)</mat-hint>
    <mat-error *ngIf="f.submitted && f.controls['resumenIngles'].invalid && f.controls['resumenIngles'].errors['required']">
      Resumen obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Resumen en español" [(ngModel)]="articulo.resumenEspanol" name="resumenEspanol"
      required></textarea>
    <mat-hint>Inicia el resumen de tú articulo(En español)</mat-hint>
    <mat-error *ngIf="f.submitted && f.controls['resumenEspanol'].invalid && f.controls['resumenEspanol'].errors['required']">
      Resumen obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
      <textarea matInput placeholder="Contenido" [(ngModel)]="articulo.contenido" name="contenido"
        required></textarea>
      <mat-hint>Digita el contenido de tu artículo</mat-hint>
      <mat-error *ngIf="f.submitted && f.controls['contenido'].invalid && f.controls['contenido'].errors['required']">
        Contenido obligatorio
      </mat-error>
    </mat-form-field>
  <div style="margin-top: 20px;">
    <button mat-raised-button color="primary" class="full-width">Corregir</button>
  </div>
</form>