<div *ngIf="ideas">
  <h2>POR REVISIÓN:</h2>
  <div class="container main-container">
    <div class="card-columns">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem" *ngFor="let item of ideas">
        <div class="card-header">
          Alumno: {{ item.nombreAlumno | uppercase }}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <b>Titulo: </b> {{ item.titulo | uppercase }}
          </h5>
          <p class="card-text"><b>Contenido: </b>{{ item.contenido }}</p>
        </div>
        <footer class="blockquote-footer">
          <a class="btn btn-outline-primary btn-block" style="color: white"
            (click)="actualizarEstadoIdea(item.id, 'APROBAR')">APROBAR</a>
          <a class="btn btn-outline-danger btn-block" style="color: white"
            (click)="capturaComentarioRechazo(item.id, 'RECHAZAR')">RECHAZAR</a>
          <small class="text-muted">
            Estado <cite title="Source Title">{{ item.estado }}</cite>
          </small>
        </footer>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!ideas">
  <br/>
  <legend>NO TIENES IDEAS PARA REVISIÓN</legend>
</div>
<div *ngIf="ideasEnEspera">
  <h2>POR REVISAR FORMATO:</h2>
  <div class="container main-container">
    <div class="card-columns">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem" *ngFor="let item of ideasEnEspera">
        <div class="card-header">
          Alumno: {{ item.nombreAlumno | uppercase }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo | uppercase }}</h5>
          <p class="card-text">{{ item.contenido }}</p>
        </div>
        <footer class="blockquote-footer">
          <a class="btn btn-outline-primary btn-block" style="color: white" (click)="verFormato(item.id)">VER FORMATO</a>
          <small class="text-muted">
            Estado <cite title="Source Title">{{ item.estado }}</cite>
          </small>
        </footer>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!ideasEnEspera">
  <br/>
  <legend>NO TIENES IDEAS POR APROBAR FORMATOS</legend>
</div>
<div *ngIf="ideasJurado">
  <h2>ASIGNADAS COMO JURADO:</h2>
  <div class="container main-container">
    <div class="card-columns">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem" *ngFor="let item of ideasJurado">
        <div class="card-header">
          Alumno: {{ item.nombreAlumno | uppercase }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo | uppercase }}</h5>
          <p class="card-text">{{ item.contenido }}</p>
        </div>
        <footer class="blockquote-footer">
          <a class="btn btn-outline-success btn-block" style="color: white" (click)="verFormatoJurado(item.id)">VER FORMATO</a>
          <small class="text-muted">
            Estado <cite title="Source Title">{{ item.estado }}</cite>
          </small>
        </footer>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!ideasJurado">
  <br/>
  <legend>NO TIENES IDEAS ASIGNADAS PARA JURADO</legend>
</div>
