<div class="row"> 
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="viewer-container">
            <div class="viewer-title">
                <legend>{{titulo}}&nbsp;&nbsp;<i class="material-icons">add_to_queue_rounded</i></legend>
            </div>
            <div class="viewer-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="20%">Versión</th>
                                <th width="40%">Documento</th>
                                <th width="40%">Ver Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listVerFormato; let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{item.nombre}}</td>
                                <td><span (click)="descargarDocumento(item.ubicacion, item.nombre)" style="cursor: pointer;"><i class="material-icons">download_rounded </i></span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>