<div class="viewer-container">
    <div class="viewer-title">
      <legend>PROFESORES INVOLUCRADOS&nbsp;&nbsp;<i class="material-icons">gavel</i></legend> 
    </div>
    <div class="viewer-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
          <b>Profesor asignado por el Estudiante:</b>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          {{profesorAsignado | uppercase}}  
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
          <b>Profesor aprobador:</b>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          {{profesorAutoriza | uppercase}}
        </div>
      </div>
    </div>
  </div>