<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="container main-container">
            <div class="viewer-container">
                <div class="viewer-title">
                    <legend>Cargar Carta Publicación</legend> 
                </div>
                <div class="viewer-body"> 
                    Se debe cargar la carta en la cual la revista indexada indica la fecha de publicaciòn del articulo realizado.
                    <br/><br/>
                    <div style="color: red">{{ textErrorFormato }}</div>
                    <br/>
                    <input type="file" class="form-control" id="formatoCarga" accept="application/pdf" />
                </div>
                <div class="viewer-footer">
                    <div class="btn btn-outline-success btn-block" (click)="subirFormato()" >SUBIR FORMATO</div>
                    <br/>
                </div>
            </div>            
        </div>
    </div>
</div>