<h1 mat-dialog-title>Rechazo de formato</h1>
<div mat-dialog-content>
    <p>¿Digite su comentario de rechazo?</p>
    <mat-form-field appearance="fill">
      <mat-label>Comentario</mat-label>
      <input matInput [(ngModel)]="data.comentario">
    </mat-form-field>
    <mat-error *ngIf="mensaje">Por favor digite el comentario</mat-error>
    
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="btn btn-outline-danger">Cancelar</button>
    <button mat-button (click)="enviarComentario()"  class="btn btn-outline-success" cdkFocusInitial>Ok</button>
</div>