<h2>Ideas propuestas:</h2>
<div class="container main-container">
  <div class="card-columns">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" *ngFor="let item of ideas ">
      <div class="card-header"><b>PROFESOR:</b> {{item.nombreProf | uppercase}}</div>
      <div class="card-body">
        <h5 class="card-title"><b>{{item.titulo | uppercase}}</b></h5>
        <p class="card-text"><b>Contenido: </b>{{item.contenido}}</p>
      </div>
      <footer class="blockquote-footer">
          <a class="btn btn-outline-danger btn-block" style="color: white" *ngIf="item.estado == 'APROBAR' " (click)="cargarFormato(item.id)" >CARGAR FORMATO</a>
          <a class="btn btn-outline-danger btn-block" style="color: white" *ngIf="item.estado == 'RECHAZO_FORMATO' " (click)="cargarFormato(item.id)" >CORREGIR FORMATO</a>
          <a class="btn btn-outline-info btn-block" style="color: white" *ngIf="item.estado == 'RECHAZAR' " (click)="actualizarIdea(item.id)" >CORREGIR</a>
          <a class="btn btn-outline-success btn-block" style="color: white" *ngIf="item.estado == 'FINALIZADA' " (click)="consultaArticuloByIdea(item.id)" >INICAR ARTICULO</a>
          <a class="btn btn-outline-warning btn-block" style="color: white" *ngIf="item.estado == 'RECHAZADO_JURADO' " (click)="correccionIdeasJurado(item.id)">CORREGIR JURADO</a>
          <a class="btn btn-outline-primary btn-block" style="color: white" (click)="verFlujo(item.id)">VER FLUJO</a>
        <small class="text-muted">
          Estado <cite title="Source Title" *ngIf="item.estado == 'RECHAZAR' " >RECHAZADA</cite>
          <cite title="Source Title" *ngIf="item.estado == 'CREADA' " >POR REVISAR</cite>
          <cite title="Source Title" *ngIf="item.estado == 'APROBAR' " >APROBADA</cite>
          <cite title="Source Title" *ngIf="item.estado == 'POR_CONFIRMAR_FORMATO' " >ESPERA APROBACION FORMATO POR EL PROFESOR </cite>
          <cite title="Source Title" *ngIf="item.estado == 'EN_ESPERA' " >ESPERA POR CORRECCIONES DEL PROFESOR (ARTICULO)</cite>          
          <cite title="Source Title" *ngIf="item.estado == 'FINALIZADA' " >IDEA LISTA PARA INICIAR ARTICULO</cite>   
          <cite title="Source Title" *ngIf="item.estado == 'ARTICULO_EN_PROCESO' " >FINALIZADA(VER EN ARTICULOS)</cite>  
          <cite title="Source Title" *ngIf="item.estado == 'ESPERA_JURADO' " >A ESPERA DE ASIGNACIÓN JURADO</cite>  
          <cite title="Source Title" *ngIf="item.estado == 'RECHAZADO_JURADO' " >CORRECCIONES JURADO</cite>          
        </small>
      </footer>
    </div>
  </div>
</div>