<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="viewer-container">
            <div class="viewer-title">
                <legend>{{titulo}}&nbsp;&nbsp;<i class="material-icons">message</i></legend>
            </div>
            <div class="viewer-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Profesor</th>
                            <th scope="col">Comentario</th>
                            <th scope="col">Documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of comentarioGeneral; let i = index ">
                            <td>{{i+1}}</td>
                            <td> {{item.nombreProfesor}}</td>
                            <td> {{item.comentario}}</td>
                            <td>
                                <span *ngIf="item.ubicacion"><i class="material-icons" style="cursor:pointer"
                                        (click)="descargarDocumento(item.ubicacion)">download_rounded</i> </span>
                                <span *ngIf="!item.ubicacion">Sin Doc</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>