<div class="container container-main">
  <!--Ini Profesor involucrado-->
  <div class="row">
    <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2">
    </div>
    <div class="col-0 col-sm-0 col-md-10 col-lg-10 col-xl-8">
      <app-profesores-idea [profesorAsignado]="articulo.idea.profesorAsignado" [profesorAutoriza]="articulo.idea.profesorAutoriza"></app-profesores-idea>
    </div>
    <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2">
    </div>
  </div>
  <!--Fin Profesor involucrado-->
  <!--Ini Datos de la idea-->
  <div class="row">
    <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
    <div class="col-0 col-sm-0 col-md-10 col-lg-10 col-xl-8">
      <app-ver-idea [idIdea]="idIdea"></app-ver-idea>
    </div>
    <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
  </div>
  <!--Fin Datos de la idea-->
  <!--Ini Articulo de la idea-->
  <div class="row">
      <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
      <div class="col-0 col-sm-0 col-md-10 col-lg-10 col-xl-8">      
          <div class="viewer-container">
            <div class="viewer-title">
              <h4>ARTÍCULO</h4>&nbsp;&nbsp;<i class="material-icons">account_balance</i>&nbsp;&nbsp;
              <button class="btn btn-outline-warning" (click)="obtieneHistorialArticulos()" >Historial</button>&nbsp;&nbsp;
              <button class="btn btn-outline-primary" (click)="obtieneComentariosProfArt()">Comentarios Prof.</button>
            </div>
            <div class="viewer-body">
              <app-correccionarticulo [ideaItem]="idIdea"></app-correccionarticulo>
            </div>
          </div>
      </div>
      <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
    </div>
</div>